<div>
  <input #pk_produto type="text"/>
  <input #nm_produto type="text"/>
  <input #ds_produto type="text"/>
  <input #nm_imagem type="text"/>
  <input #vl_produto type="text"/>
  <input #categoria_pk_produto type="text"/>
  <button (click)="Admin.adicionarLista(pk_produto.value, nm_produto.value, ds_produto.value, nm_imagem.value, vl_produto.value, categoria_pk_produto.value); 
  ">Adicionar</button>
  <h1>Produtos adicionados</h1>
  <table >
    <tr >
      <th>Identificação produto</th>
      <th>Nome produto</th>
      <th>Descrição produto</th>
      <th>Nome Imagem</th>
      <th>Valor produto</th>
      <th>Categoria id</th>
    </tr>
    <tr>
      <th> </th>
    </tr>
  </table>
</div>