<h1 class="page-section-heading text-center text-uppercase text-secondary mb-0">
  Pagina Administrador
</h1>
<div class="inp-adm">
  <h2>Adicionar Produto</h2>
  <input class="form-control2" #pk_id type="text" placeholder="id" />
  <input
    class="form-control2"
    #ds_produto
    type="text"
    placeholder="Descrição"
  />
  <input class="form-control2" #nm_produto type="text" placeholder="Produto" />
  <input class="form-control2" #nm_imagem type="text" placeholder="Imagem" />
  <input class="form-control2" #vl_produto type="text" placeholder="valor" />
  <input
    class="form-control2"
    #categoria_pk_id
    type="text"
    placeholder="categoria"
  />
  <button
    class="btn-adm-add"
    (click)="
      tasks.add(
        pk_id.value,
        ds_produto.value,
        nm_produto.value,
        nm_imagem.value,
        categoria_pk_id.value,
        vl_produto.value
      );
      pk_id.value = ''
    "
  >
    Adicionar
  </button>
  <div class="divider-custom">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
    <div class="divider-custom-line"></div>
  </div>
  <div class="inp-adm">
    <h2>Adicionar Categoria</h2>
    <input
      class="form-control2"
      #categoria
      type="text"
      placeholder="Categoria"
    />
    <button (click)="requests.postCategoria(categoria.value)">Adicionar</button>
  </div>
  <br /><br />
  <h1
    class="page-section-heading text-center text-uppercase text-secondary mb-0"
  >
    Categorias Adicionadas
  </h1>
  <div class="divider-custom">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
    <div class="divider-custom-line"></div>
  </div>
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Excluir</th>
        <th>Atualizar</th>
      </tr>
    </thead>
    <button (click)="requests.getCategoria()">Atualizar Lista</button>
    <tr *ngFor="let item of requests.listCat">
      <a>{{ item['id'] }}</a>
      <td>
        <h2>Adicionar Categoria</h2>
        <input
          class="form-control2"
          #categoria
          type="text"
          value="{{ item['nome'] }}"
        />
      </td>
      <td>
        <button (click)="requests.deletarCategoria(item['id'])">Excluir</button>
      </td>
      <td>
        <button (click)="requests.putCategoria(item['id'], categoria.value)">
          Atualizar
        </button>
      </td>
    </tr>
  </table>
  <h1
    class="page-section-heading text-center text-uppercase text-secondary mb-0"
  >
    Produtos adicionados
  </h1>
  <div class="divider-custom">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
    <div class="divider-custom-line"></div>
  </div>
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Nome Imagem</th>
        <th>Valor</th>
        <th>Excluir</th>
      </tr>
    </thead>
    <button (click)="requests.getList()">Atualizar</button>
    <tr *ngFor="let item of requests.list">
      <a>{{ item['id'] }}</a>
      <td>{{ item['nome'] }}</td>
      <td>{{ item['descricao'] }}</td>
      <td>{{ item['produtoImagem'] }}</td>
      <td>R$ {{ item['valor'] }}</td>
      <td>
        <button (click)="requests.deletarProduto(item['id'])">Excluir</button>
      </td>
    </tr>
  </table>
</div>
