<div>
  <input #id id="hora" type="text"/>
  <button click="admin.adicionarLista(
    pk_produto.value
    nm_produto.value
    ds_produto.value
    nm_imagem.value
    vl_produto.value
    categoria_pk_produto.value  
    )">Adicionar</button>
  <h1>Produtos adicionados</h1>
  <table *ngFor="let produto of Admin.getLista(); index as i">
    <tr >
      <th>Identificação produto</th>
      <th>Nome produto</th>
      <th>Descrição produto</th>
      <th>Nome Imagem</th>
      <th>Valor produto</th>
      <th>Categoria id</th>
    </tr>
    <tr>
      <th> {{produto.pk_produto}}</th>
    </tr>
  </table>
</div>